*{ 
    margin: 0;
}

/* INICIO ESTILOS HEADER */

header{
    display: flex;
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 2;
    background-color: black;

    #navbar{
        display: flex;

        width: 100%;
        min-height: 4.375rem;
        padding: 5px;


        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            li{
                list-style: none;
                margin-bottom: 15px;


                a{
                    
                    // border: 1px solid orange;

                    text-align: center;
                    width: 20rem;
                    text-decoration: none;
                    color: #EEEBDD;
                    display: block;
                    font-size: 21px;
                    transition: all 200ms;
                   

                    &:hover{
                        transform: scale(1.3);
                        color: #B61919;
                    }
                }
            }
        }
    }
}

/* FIN ESTILOS PARA HEADER */


/* INICIO ESTILOS MAIN */

main{
    display: flex;
    width: 100%;
    height: 43.75rem;
    background-image: url(../Imágenes/Black&White7.jpg);
    background-size: 100%;
    background-attachment:fixed;
    
    .name1{
        margin-top: 9rem;
        margin-left: 10rem;
    
        width: 10rem;
        position: absolute;
        z-index: 1;
        font-family: 'Fredericka the Great', cursive;
        font-size: 50px;
        color: white
    }
    
    .name2{
        margin-top: 18.75rem;
        margin-left: 62.5rem;
    
        width: 10rem;
        position: absolute;
        z-index: 1;
        font-family: 'Fredericka the Great', cursive;
        font-size: 50px;
        color: white
    }
}

/* FIN ESTILOS MAIN */



/* INICIO ESTILOS FOOTER */

footer{
    width: 99.8%;
    height: 37.5rem;
    border: 1px #0C0C0B solid;
    background-color: #0C0C0B;
    color: white;

    a{
        text-decoration: none;
    }

    .insta{
        margin-left: -3.90rem;
    }
    
    .youtu{
        margin-left: -3.560rem;
    }
    
    .outlook{
        margin-left: -5rem;
    }

    .socialMedia{
        display: flex;
        justify-content:space-around;
        margin-top: 50px;
        margin-left: 60px;
        margin-right: 58px;

        .instagram span:hover{
            color: #CBAA23;
        }

        .email{

            p{
                height: 20px;
                font-family: 'Times New Roman', Times, serif;
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 1px;
                text-shadow: 0px 0px 1px #CCCC;
                border: 3px solid white;
                box-shadow: 0px 0px 4px #ccc;
                background: #f4f7fe;
                position: absolute;
                padding: 10px;
                margin-top: 8px;
                cursor: pointer;
                transform: translateY(-80%); 
                opacity: 0;
                transition: all 200ms;
        
                &:hover{
                    opacity: 1;
                    color: white;
                    background-color: #4C4746;
                    transform: translateY(0%);
                    cursor: unset;
                }
            }

            span{
                &:hover{
                    color: #CBAA23;
                }
            }
        }
        
        .youtube span:hover{
            color: #CBAA23;
        }
    }
}






.ubication{
    display: block;
    
}

.icon-instagram,
.icon-mail,
.icon-youtube,
.icon-location{
    font-size: 60px;
    color: white;
}

.icon-location{
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

.ubication iframe{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    border: 5px solid white
}

.maps{
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 5px; */
    
}

.icopy{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* FIN ESTILOS FOOTER */